body{
    background-color: #e1e1e1;
}
.debug{
    border: 1px solid red;
}
.form-wrapper{
    border-radius: 7px;
}
.form-wrapper label{
    font-weight: bold;
}
.errors ul{
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

@media (max-width: 768px){
    .form-wrapper .text-end{
        text-align: center !important;
    }
    .form-wrapper .btn-primary{
        display: block;
        margin: 0 auto;
    }
}